.App {
  text-align: center;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-item {
  background-color: rgb(91, 166, 228);
  width: calc(25% - 30px);
  padding: 10px;
  margin: 0 5px;
  margin-bottom: 10px;
  text-align: center;
  transition: all 0.25s;
  cursor: pointer;
}

.card-item:hover {
  transform: scale(1.03);
}

.card-item h3 {
  margin-bottom: 0;
}

.search {
  margin-bottom: 20px;
  width: 80%;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
}
